[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third_party/wayland"]
	path = third_party/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "third_party/wayland-protocols"]
	path = third_party/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
